body{
   background-color:#242426 ;
      box-sizing: border-box;

    background-attachment:scroll;
}
.main {
    text-align: center;
    margin-top: 20%;
       font-family: 'Raleway', sans-serif;
    color: #E1E3E4;
    padding-bottom: 20%;
}

 ;
}

a{
    text-decoration: none;
    color: #E1E3E4;
     font font-family: 'Raleway', sans-serif;

}
.nav ul li{

    list-style: none;
    float: left;
    padding: 15px;
    margin-left: 100px;
    font-size: 20px;
    font font-family: 'Raleway', sans-serif;
}

#portfolio{
   ;
    text-align: center;

}
#blog{

    text-align: center;
    color: #E1E3E4
    padding-bottom: 5%;
}
#About-me{
    color: #E1E3E4;
    text-align: center;
    padding-bottom: 2%;
    padding-left: 0;
    padding-left: 0;
    margin-top: 6%;

}


.nav {
    margin: 0;
    padding: 0;
}

#skills {
    margin-top: 20%;
    text-align: center;
    margin-bottom: 5%;
    color: whitesmoke;


}

#skills ul li{
    font-size: 20px;
    list-style: none;
    font font-family: 'Raleway', sans-serif;
    padding: 2%:

}

h1{
    font-family: 'Raleway', sans-serif;
    color: #301914
}
#About-me ul li{
    font-size: 20px;
    list-style: none;
    font font-family: 'Raleway', sans-serif;

}
#Contact{

    text-align: center;
}
#portfolio img{
    border-radius: 0;
    width: 35%;
    padding-left: 2%;
    margin-top: 4%;
    margin-bottom: 2%;

}
.comments {
    margin-bottom: 5%

}
a.button{
    margin-left: 50%;
}


