body{
    background-image: url(../images/bak.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
    color: whitesmoke;

}





#nav {

}
#about h1{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 70px;
    color: seashell;
    margin: 0;

}
h4{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: seashell;
    font-size: 50px;
    margin: 0;
}

h2{
    color: #444547;
    text-align: center;

}

#portfolio {
    margin-top: 15%;

}
@keyframes portfolio{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }

}
#portfolio{
    overflow: hidden;
}
#portfolio figure img{
    width:20%;
    float: left;
    padding-left:  1%;
     padding-right:  1%;
     padding-bottom:  2%;
    height: 650px;
}
#portfolio figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 12s portfolio infinite;
}
ul li{
    color: whitesmoke;
}


